html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 960px;
  color: #ffffff;
}

.card-deck .card {
  min-width: ;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
h1.display-4{ text-align: left; }
p{ text-align: left; }
h3{ text-align: left; margin: 10px 0px;}
h5{ color: #1f567c; }
strong{color: #e53935}



